<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdvancedUnitConverter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4802F7FF1D0C8F4500F416BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4802F8151D0C8F4D00F416BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4802F8201D0C8F4D00F416BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
