<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrettyBindings</key>
	<dict>
		<key>Area</key>
		<dict>
			<key>Acre</key>
			<string>Acres</string>
			<key>Hectare</key>
			<string>Hectares</string>
			<key>square km</key>
			<string>square kms</string>
			<key>square mile</key>
			<string>square miles</string>
		</dict>
		<key>Length</key>
		<dict>
			<key>foot</key>
			<string>feet</string>
			<key>inch</key>
			<string>inches</string>
			<key>kilometer</key>
			<string>kilometers</string>
			<key>meter</key>
			<string>meters</string>
			<key>mile</key>
			<string>miles</string>
			<key>yard</key>
			<string>yards</string>
		</dict>
		<key>Time</key>
		<dict>
			<key>second</key>
			<string>seconds</string>
			<key>millisecond</key>
			<string>milliseconds</string>
			<key>minute</key>
			<string>minutes</string>
			<key>hour</key>
			<string>hours</string>
			<key>day</key>
			<string>days</string>
			<key>week</key>
			<string>weeks</string>
			<key>year</key>
			<string>years</string>
		</dict>
		<key>Temperature</key>
		<dict>
			<key>Kelvin</key>
			<string>˚K</string>
			<key>Celsius</key>
			<string>˚C</string>
			<key>Fahrenheit</key>
			<string>˚F</string>
		</dict>
		<key>Volume</key>
		<dict>
			<key>Litre</key>
			<string>Litres</string>
			<key>Gallon</key>
			<string>Gallons</string>
			<key>milliliter</key>
			<string>milliliters</string>
		</dict>
	</dict>
	<key>Categories</key>
	<array>
		<string>Area</string>
		<string>Length</string>
		<string>Time</string>
		<string>Temperature</string>
		<string>Volume</string>
	</array>
	<key>Base_Types</key>
	<dict>
		<key>Area</key>
		<string>Acre</string>
		<key>Length</key>
		<string>meter</string>
		<key>Time</key>
		<string>second</string>
		<key>Temperature</key>
		<string>Kelvin</string>
		<key>Volume</key>
		<string>Litre</string>
	</dict>
	<key>Area</key>
	<dict>
		<key>square metre</key>
		<real>4046.8599998211</real>
		<key>Acre</key>
		<integer>1</integer>
		<key>Hectare</key>
		<real>0.40468599998211</real>
		<key>square km</key>
		<real>0.0040468599998211</real>
		<key>square mile</key>
		<real>0.001562501381250008</real>
	</dict>
	<key>Length</key>
	<dict>
		<key>foot</key>
		<real>0.3048</real>
		<key>inch</key>
		<real>0.0254</real>
		<key>kilometer</key>
		<integer>1000</integer>
		<key>meter</key>
		<integer>1</integer>
		<key>mile</key>
		<real>1609.34</real>
		<key>yard</key>
		<real>0.9144</real>
	</dict>
	<key>Time</key>
	<dict>
		<key>second</key>
		<integer>1</integer>
		<key>millisecond</key>
		<real>0.001</real>
		<key>minute</key>
		<integer>60</integer>
		<key>hour</key>
		<integer>3600</integer>
		<key>day</key>
		<integer>86400</integer>
		<key>week</key>
		<integer>604800</integer>
		<key>year</key>
		<integer>31449600</integer>
	</dict>
	<key>Temperature</key>
	<dict>
		<key>Kelvin</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>Celsius</key>
		<array>
			<integer>1</integer>
			<real>273.15</real>
		</array>
		<key>Fahrenheit</key>
		<array>
			<real>0.555</real>
			<real>459.67</real>
		</array>
	</dict>
	<key>Volume</key>
	<dict>
		<key>Litre</key>
		<integer>1</integer>
		<key>Gallon</key>
		<real>3.78541</real>
		<key>Milliliter</key>
		<real>0.001</real>
	</dict>
</dict>
</plist>
